.main-header
  - if user_signed_in?
    = link_to user_path(current_user.id), class: "index2mypage" do
      .main-header__user-name
        .main-header__user-name__image
          = image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "index-profile-image"
        .main-header__user-name__text
          = current_user.nickname
  
  - else
    .main-header__user-name
      .main-header__user-name__image
        -# = image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "index-profile-image"
      .main-header__user-name__text
        -# = current_user.nickname
  - if user_signed_in? 
    = link_to new_post_path, class: "new-post" do
      .main-header__new-post
        .main-header__new-post__image
          = fa_icon 'camera', class: 'icon'
        .main-header__new-post__logo
          New！!
  - else
    = link_to new_user_session_path, class: "new-post" do
      .main-header__new-post
        .main-header__new-post__image
          = fa_icon 'camera', class: 'icon'
        .main-header__new-post__logo
          New！!

  .main-header__ranking
    .main-header__ranking__box
      .main-header__ranking__box__title
        いいねランキング：
      .main-header__ranking__box__list
        - @ranking.each.with_index(1) do |post, i|
          = link_to post_path(post.id), class: "ranking-detail" do
            .ranking-detail__rank
              = i
              %br
              位
            .ranking-detail__image
              - if post.image.file.content_type.include?('image/')
                = image_tag post.image.url, width: "125px", height: "105px"
              - else
                = video_tag post.image.url, width: "125px", height: "110px", |
                  controls: true, autobuffer: true
            .ranking-detail__text
              .ranking-detail__text__title
                = post.title
              .ranking-detail__text__date
                投稿日：
                = post.created_at.strftime("%Y/%m/%d")
              .ranking-detail__text__like-count
                いいね数：#{post.liked_users.count}