= render partial: "shared/header"
.wrapper
  .search-results
    .search-results__list-item
      検索結果一覧
    .search-results__index
      .search-results__index__lists
        ＜サイト内＞
        - if @posts.count == 0
          .search-results__index__lists__list
            サイト内では該当する情報がありませんでした。。
        - else
          - @posts.uniq.each do |post|
            .search-results__index__lists__list
              .search-results__index__lists__list__text
                = link_to post_path(post), class: "link2show-page" do
                  .search-results__index__lists__list__text__left-info
                    .search-results__index__lists__list__text__left-info__user-nickname
                      投稿者：
                      = post.user.nickname
                      ／  投稿日：
                      = post.created_at.strftime("%Y/%m/%d")
                    .search-results__index__lists__list__text__left-info__title
                      .search-results__index__lists__list__text__left-info__title__item
                        タイトル：
                      .search-results__index__lists__list__text__left-info__title__detail
                        = post.title
      .search-results__index__lists-right
        ＜Qiita＞
        - @items.each do |item|
          .search-results__index__lists-right__list
            .search-results__index__lists-right__list__text
              = link_to "#{item['url']}" ,class: "link2qiita" do
                .search-results__index__lists-right__list__text__left-info
                  .search-results__index__lists-right__list__text__left-info__user-nickname
                    投稿者：
                    = "#{item['user']['id']}"
                    ／  投稿日：
                    = "#{item['created_at']}"
                  .search-results__index__lists-right__list__text__left-info__title
                    .search-results__index__lists-right__list__text__left-info__title__item
                      タイトル：
                    .search-results__index__lists-right__list__text__left-info__title__detail
                      = "#{item['title']}"