= render partial: "shared/header"
.wrapper
  .show-contents
    .show-contents__items
      .show-contents__items__image
        - if @post.image.file.content_type.include?('image/')
          = image_tag @post.image.url, width: "100%", height: "100%", class: "show-image"
        - else
          = video_tag @post.image.url, width: "100%", height: "100%", class: "show-image", |
            controls: true, autobuffer: true
      .show-contents__items__detail
        .show-contents__items__detail__upper-info
          .show-contents__items__detail__upper-info__top
            .show-contents__items__detail__upper-info__top__box
              .show-contents__items__detail__upper-info__top__box__title
                = @post.title
              .show-contents__items__detail__upper-info__top__box__github
                GitHub URL：
                = @post.github_url
              .show-contents__items__detail__upper-info__top__box__more-detail
                .show-contents__items__detail__upper-info__top__box__more-detail__contributor
                  .show-contents__items__detail__upper-info__top__box__more-detail__contributor__name
                    投稿者：
                    = @post.user.nickname
                  .show-contents__items__detail__upper-info__top__box__more-detail__contributor__date
                    投稿日時：
                    = @post.created_at.strftime("%Y/%m/%d %H:%M")
                  .show-contents__items__detail__upper-info__top__box__more-detail__contributor__tags
                    - @post.tags.each do |tag|
                      .show-contents__items__detail__upper-info__top__box__more-detail__contributor__tags__tag
                        = tag.tag

            .show-contents__items__detail__upper-info__top__like-info
              #{@post.likes.count}人がいいねしています！
              - if user_signed_in?
                - if current_user.already_liked?(@post)
                  = link_to post_like_path(@post), method: :delete do
                    = fa_icon "heart", class: "liked-icon"
                - else
                  = link_to post_likes_path(@post), method: :post do
                    -# link_toでデータベースに情報を入れる際はmethod: :postを記載
                    = fa_icon "heart-o", class: "like-icon"
              - else
                = link_to new_user_session_path do
                  = fa_icon "heart-o", class: "like-icon"
              %br
              いいねしたユーザー
              - @post.liked_users.each do |user|
                %li= user.nickname
          .show-contents__items__detail__upper-info__content
            .show-contents__items__detail__upper-info__content__item
              ＜投稿詳細＞
            .show-contents__items__detail__upper-info__content__text
              = @post.text

        .show-contents__items__detail__code
          .show-contents__items__detail__code__item
            ＜code＞
          .show-contents__items__detail__code__info
            = markdown(@post.code).html_safe

    .show-contents__comments
      - if user_signed_in? 
        .comment-form
          = form_with model: @comment, url: post_comments_path(@post), class: "comment-form__input-box" do |f|
            -# ネストさせたページでform(form_with)を使用する場合、urlの指定（url: post_comments_path(@post)）と、どのモデルを通してformの情報を送るのか（model: @comment）必ず指定。
            .comment-form__input-box__text-box
              = f.text_area :text, maxlength: 200 , class: 'chat-box__text', id: 'chat-box__text', placeholder: 'コメント入力（200文字まで）'
            .comment-form__input-box__submit-box
              = f.submit '送信', class: 'chat-box__submit'
      - else
        .comment-form
          .comment-form__input-box__text-box
            メッセージ履歴

      .comment-views
        - @comments.each do |comment|
          - if comment.user.id == @post.user.id
            .comment-views__detail-view{"data-comment-id": "#{comment.id}"}
              .comment-views__detail-view__comment
                .comment-views__detail-view__comment__text
                  = comment.text
                .comment-views__detail-view__comment__user-date
                  .comment-views__detail-view__comment__user-date__user
                    = comment.user.nickname
                  .comment-views__detail-view__comment__user-date__date
                    = comment.created_at.strftime("%Y/%m/%d")
                  .comment-views__detail-view__comment__user-date__date-time
                    = comment.created_at.strftime("%H:%M")
                    
          - else
            .comment-views__detail-view-right{"data-comment-id": "#{comment.id}"}
              .comment-views__detail-view-right__comment
                .comment-views__detail-view-right__comment__user-date
                  .comment-views__detail-view-right__comment__user-date__user
                    = comment.user.nickname
                  .comment-views__detail-view-right__comment__user-date__date
                    = comment.created_at.strftime("%Y/%m/%d")
                  .comment-views__detail-view-right__comment__user-date__date-time
                    = comment.created_at.strftime("%H:%M")
                .comment-views__detail-view-right__comment__text
                  = comment.text